%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Role

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.role.name
%br

= link_to 'New User', new_user_path
