.container
  = render 'layouts/nav/nav_user'
  %h1.text-center Lista de Produtos

  #entity-listing
    %table.table.table-hover
      %thead
        %tr
          %th ID
          %th Name
          %th.text-right Ações

      %tbody
        - @products.each do |product|
          #row_product
            %tr
              %th= product.id
              %td= product.name
              %td.text-right
                %span#edit
                  =link_to(fa_icon('pencil'), edit_product_path(product.id))
                %span#remove.text-danger
                  =link_to(fa_icon('trash'), product_path(product.id), method: :delete, data: { confirm: 'Tem certeza que deseja deletar isto?' })
