%h1 Listing products

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price

  %tbody
    - @products.each do |product|
      %tr
        %td= product.name
        %td= product.description
        %td= product.price
%br

= link_to 'New Product', new_product_path
